<div class="header">
    <div class="container" fxLayoutAlign="center center">
        <div fxFlex="150px" class="logo">
            <span class="logo">Shoptime</span>
        </div>
        <div fxFlex fxLayout fxLayoutGap="20px">
            <div class="link-block">
                <a class="link" routerLink="/">HOME</a>
            </div>
            <div class="link-block"><a class="link" routerLink="/orders">ORDERS</a></div>
            <div class="link-block"><a class="link" routerLink="/products">PRODUCT</a></div>
        </div>

        <div fxFlex="60px">
            <span class="user">ADMIN</span>
        </div>
    </div>
</div>