<div class="container">
    <div>
        <table class="table table-stripe">
            <thead>
                <tr>
                    <th class="box-col"></th>
                    <th class="custom-col">Customer</th>
                    <th class="product-col">Product List</th>
                    <th class="total-col">Total</th>
                    <th class="cart-col">Add to Cart</th>
                    <th class="checkout-col">Check-out</th>
                    <th class="address-col">Address</th>
                    <th class="status-col">Status</th>
                </tr>
            </thead>
            <tr>
                <td>0</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
            </tr>
        </table>
    </div>
</div>