.box-col {
    width: 20px
}

.custom-col {
    width: 100px
}

.product-col {
    width: 200px;
}

.total-col {
    width: 60px;
}

.cart-col {
    width: 150px
}

.checkout-col {
    width: 100px;
}

.address-col {
    width: 140px;
}

.status-col {
    width: 100px;
}