<div class="container">
    <div class="top">
        <div class="top-title">
            OVERVIEW
        </div>
        <div fxFlex fxLayoutAlign="end end">
            <div>
                <span class="top-side-date">2018/6/6</span><span class="fas fa-angle-right"></span><span class="top-side-date">2018/6/13</span>
            </div>

        </div>
    </div>
    <div class="summary-block" fxLayout fxLayoutGap="10px">
        <div class="summary-card" fxLayout="column" fxLayoutAlign="center center">
            <div>
                <span class="fas fa-dollar-sign"></span><span class="summary-title">TOTAL REVENUE</span>
            </div>
            <div>
                <span style="font-size: 36px;color:#7ED321">54,540</span>
            </div>
        </div>
        <div class="summary-card" fxLayout="column" fxLayoutAlign="center center">

        </div>
        <div class="summary-card" fxLayout="column" fxLayoutAlign="center center">

        </div>
    </div>

    <div class="chart-block">

    </div>

    <div class="recent-news-block">

    </div>
</div>